eric/hlsTmpModel2/
eric/hyperparameter_tuning/
eric/model2_hyperparameter_tuning_20251024_025530/
eric/model2_quantized_6w0i_hyperparameter_results_20251104_145942/
eric/model2_results_20251027_141314/
eric/model2_results_20251027_144627/
eric/model2_results_20251027_145841/
eric/model2_results_20251029_171245/
eric/model3_hyperparameter_tuning_20251025_114514/
eric/Model3_results_20251104_025435/

# Pattern matches for folders starting with specific prefixes
eric/hlsTmpModel*/
eric/hyperparameter_tuning*/
eric/model2_hyperparameter_tuning_*/
eric/model2_*/
eric/model2_results_*/
eric/model3_hyperparameter_tuning_*/
eric/Model3_results_*/
eric/model3_*/
eric/model2.5_*/
eric/testing_Model3/

hls*Model*

env

MuC_Smartpix_ML/Model1_results*
MuC_Smartpix_ML/Model2_results*
MuC_Smartpix_ML/Model3_results*
MuC_Smartpix_ML/Model ASIC_results*
MuC_Smartpix_ML/Model ASIC_*

daniel/Dataset_1215To0108

#Not sure why these need to be called out explicitly...
daniel/__pycache__/ASICModel.cpython-310.pyc


*.pkl

__pycache__
*__pycache__*

.ipynb_checkpoints
*/.ipynb_checkpoints/*

eric/Archived_Runs/
eric/Eric_Test_AUC/
eric/ericHLS/
eric/ModelASICSynthesis/
eric/testingHLS/

# Explicitly tracked model runs
!eric/model2_5_3bit_normalised_selected/
!eric/model2.5_quantizedinputs_quantized_3w0i_normalized_run_hyperparameter_results_20260430_185058/
!eric/model2.5_quantizedinputs_quantized_4w0i_normalized_run_hyperparameter_results_20260501_185241/
!eric/model2.5_quantizedinputs_quantized_6w0i_normalized_run_hyperparameter_results_20260503_165934/
!eric/model2.5_quantizedinputs_quantized_10w0i_normalized_run_hyperparameter_results_20260504_004945/
!eric/model3_3bit_normalised_selected/
!eric/model3_4bit_normalised_selected/
!eric/model3_6bit_normalised_selected/
!eric/model3_10bit_normalised_selected/
!eric/model3_quantizedinputs_quantized_3w0i_hyperparameter_results_normalized_run_20260428_210840/
!eric/model3_quantizedinputs_quantized_4w0i_hyperparameter_results_normalized_run_20260501_150542/
!eric/model3_quantizedinputs_quantized_6w0i_hyperparameter_results_normalized_run_20260502_172931/
!eric/model3_quantizedinputs_quantized_8w0i_hyperparameter_results_normalized_run_20260503_165943/
!eric/model3_quantizedinputs_quantized_10w0i_hyperparameter_results_normalized_run_20260501_185247/
!eric/model3_8bit_normalised_selected
!eric/model2.5_fin_results
!eric/model3_fin_results