eric/hlsTmpModel2/
eric/hyperparameter_tuning/
eric/model2_hyperparameter_tuning_20251024_025530/
eric/model2_quantized_6w0i_hyperparameter_results_20251104_145942/
eric/model2_results_20251027_141314/
eric/model2_results_20251027_144627/
eric/model2_results_20251027_145841/
eric/model2_results_20251029_171245/
eric/model3_hyperparameter_tuning_20251025_114514/
eric/Model3_results_20251104_025435/

# Pattern matches for folders starting with specific prefixes
eric/hlsTmpModel*/
eric/hyperparameter_tuning*/
eric/model2_hyperparameter_tuning_*/
eric/model2_*/
eric/model2_results_*/
eric/model3_hyperparameter_tuning_*/
eric/Model3_results_*/



env

MuC_Smartpix_ML/Model1_results*
MuC_Smartpix_ML/Model2_results*
MuC_Smartpix_ML/Model3_results*
MuC_Smartpix_ML/Model ASIC_results*
MuC_Smartpix_ML/Model ASIC_*


*.pkl

__pycache__